@charset "UTF-8";
/* CSS Document - glacier creek  */

/* colors 
green 1a592d
gray - 7E7E7E
light gray - e1e1e1
*/

	
/* primary color */	

.spintext h3, .connecttext h1, .spintext a, .connecttext a, #socialbuttons h3 {
	color:  #1a592d !important;  /* change this to the right color */
}

 

.schoolbar, .buttons, .buttons_pulse, .splash_button, .splash_ada_button:hover, .splash_ada_button:focus  {
	color:  #ffffff !important;
	background-color:  #1a592d !important; /* change this to the right color */
}



/* secondary color */

.closebutton:hover, .closebutton:focus, .buttons:hover, .buttons_pulse:hover, .buttons:focus, .buttons_pulse:focus, .splash_button:hover, .splash_button:focus , .goog-te-gadget-simple:hover  {
	background-color: #7E7E7E !important; /* change this to the right color */
}

.schoolbar {
	border-top:  solid 8px #7E7E7E !important;  /* change this to the right color */

}

.photolink:hover, .photolink:focus {
	color:  #7E7E7E !important; /* change this to the right color */
}



/* other changeable colors */

.photolink {
	color:  #ffffff !important;
}

.spintext, .connecttext, .contactbox  {
	background-color: #ffffff !important; /* change this to the right color */
}

.spintext p, .connecttext p{
	
	color:  #000000 !important;
}

.spintext a:hover, .connecttext a:hover, .spintext a:focus, .connecttext a:focus  {
	
	color:  #000000 !important;  /* change this to the right color */
}

#welcometext {

	color: #000000 !important; /* change this to the right color */
}

#welcomename {

	color: #000000 !important; /* change this to the right color */

}

.focusonly:hover {
	background-color: #bada55; /* change this to the right color */
}


#socialbuttons {
	background-color: #e1e1e1;	 /*change this to the right color*/
}







			

